.welcomeandinstructions-welcomeandinstructions {
  width: 264px;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(156deg, rgba(255, 234, 236, 1) 0%, rgba(244, 208, 211, 0.3499999940395355) 100%);
}
.welcomeandinstructions-text {
  color: rgba(49, 51, 144, 1);
  width: 170px;
  height: auto;
  font-size: 29.438058853149414px;
  align-self: auto;
  box-shadow: 0px 0.2943805754184723px 0.2943805754184723px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 16px;
  text-decoration: none;
}
.welcomeandinstructions-frame7 {
  width: 248px;
  height: 68px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}
.welcomeandinstructions-ellipse8 {
  top: 8px;
  left: 101px;
  width: 55px;
  height: 53px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.welcomeandinstructions-ellipse81 {
  top: 0px;
  left: 0px;
  width: 55px;
  height: 53px;
  position: absolute;
  border-color: transparent;
}
.welcomeandinstructions-rectangle {
  top: 9px;
  left: 107px;
  width: 43px;
  height: 48px;
  display: flex;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.welcomeandinstructions-rectangle1 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 48px;
  position: absolute;
  border-color: transparent;
}
.welcomeandinstructions-frame8 {
  width: 248px;
  height: 108px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 16px;
}
.welcomeandinstructions-button {
  top: 9.99853515625px;
  left: 30px;
  width: 196px;
  height: 33px;
  display: flex;
  padding: 0 30px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}


.welcomeandinstructions-text2 {
  color: rgb(0, 0, 0);
  height: auto;
  font-size: 18.3988px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.welcomeandinstructions-button1 {
  top: 58px;
  left: 28px;
  width: 196px;
  height: 33px;
  display: flex;
  padding: 0 30px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  transition: 0.3s;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 20px;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}


.welcomeandinstructions-text3 {
  color: rgb(17, 16, 16);
  height: auto;
  font-size: 18.3988px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.welcomeandinstructions-frame9 {
  width: 248px;
  height: 257px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.welcomeandinstructions-rectangle1 {
  top: 0px;
  left: 0px;
  width: 248px;
  height: 263px;
  position: absolute;
}
.welcomeandinstructions-text4 {
  top: 18px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 196px;
  height: auto;
  position: absolute;
  font-size: 19.870689392089844px;
  align-self: auto;
  box-shadow: 0px 0.2943805754184723px 0.2943805754184723px 0px rgba(0, 0, 0, 0.25) ;
  font-style: Bold;
  text-align: center;
  font-family: Roboto;
  font-weight: 700;
  line-height: 120.00000476837158%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.welcomeandinstructions-rectangle2 {
  left: 25px;
  width: 196px;
  bottom: 18px;
  height: 156px;
  position: absolute;
  border-color: rgba(107, 105, 168, 1);
  border-style: solid;
  border-width: 0.07359514385461807px;
  border-radius: 29.438058853149414px;
}
/projects/chrome-extension-template-community-2rt7c8